@tailwind base;
@tailwind components;
@tailwind utilities;

.spacing-to-nav {
  @apply mt-16;
}
.none-select {
  user-select: none;
}
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.icon {
  width: 24px;
  height: 24px;
}
a {
  text-decoration: none;
}
.over {
  background-color: rgba(0, 0, 0, 0.5);
}
